<style>
    .re-cars-content {
        width: 100%;
    }
    .re-btn {
        background-color: var(--color-dark);
        color: var(--color-white);
        border-radius: 0px;
    }
    .re-btn:hover {
        background-color: var(--color-tomato);
        border: 0px;
        color: var(--color-white);
        transition: 0.8s;
    }
    @media (max-width: 575.98px) {}
    @media (max-width: 767.98px) {}
    @media (max-width: 991.98px) {}
    @media (max-width: 1199.98px) {}
    @media (max-width: 1399.98px) {}
</style>
<section class="re-cars-content pt-2">
    <div class="container">
        <div class="row mb-3">
            <div class="col-lg-12">
                <a href="/records" class="btn btn-lg re-btn">Adicionar Cliente</a>
            </div>
        </div>
        <div class="row pt-3">
            <h5>Informações do cliente:</h5>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th scope="col">Código</th>
                            <th scope="col">Nome</th>
                            <th scope="col">CPF</th>
                            <th scope="col">Box</th>
                            <th scope="col">Apartamento</th>
                            <th scope="col">Telefone</th>
                            <th scope="col">Data de Nascimento</th>
                        </tr>
                    </thead>
                    <tbody>
                        <% users.forEach(function(user){ %>
                            <tr>
                                <td><%=user.code%></td>
                                <td><%=user.fullname%></td>
                                <td><%=user.cpf%></td>
                                <td><%=user.id%></td>
                                <td><%=user.apartment%></td>
                                <td><%=user.fone%></td>
                                <td><%=user.birthday%></td>
                            </tr>
                        <% }) %>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="row pt-3">
            <h5>Informações do veículo:</h5>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <table class="table re-table table-striped">
                    <thead>
                        <tr>
                            <th scope="col">Código</th>
                            <th scope="col">Marca</th>
                            <th scope="col">Modelo</th>
                            <th scope="col">Placa</th>
                            <th scope="col">Ano</th>
                            <th scope="col">Editar</th>
                            <th scope="col">Deletar</th>
                        </tr>
                    </thead>
                    <tbody>
                        <% users.forEach(function(user){  %>
                            <tr>
                                <td><%=user.code%></td>
                                <td><%=user.brand%></td>
                                <td><%=user.model%></td>
                                <td><%=user.board%></td>
                                <td><%=user.year%></td>
                                <td>
                                    <a href="/customers/edit/<%=user.id%>">
                                        <img src="http://localhost:5000/icon/icon-edit.svg" alt="">
                                    </a>
                                </td>
                                <td>
                                    <a href="/customers/delete/<%=user.id%>">
                                        <img src="http://localhost:5000/icon/icon-delete.svg" alt="">
                                    </a>
                                </td>
                            </tr>
                        <% }) %> 
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</section>
<script></script>